.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  background-color: cadetblue;
  margin-bottom: 2%;
  a {
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin-left: 20px;
    text-decoration: none;
  }
}

.mfe-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.content-section {
  width: 50%;
  border: 3px solid green;
  padding: 5%;
  margin: 10% 10% 10% 20%;
  text-align: center;
  font-weight: 600;
}
h2 {
  text-align: center;
}
